extends ./_partials/_layout

block content
  .on-temp-password
    .password-change-container
      h1 Change password
      form
        .form-group
          label(for="old-password") Current password
          input.form-control(type="password" name="old-password" placeholder="Current password")
        .form-group
          label(for="new-password") New password
          input.form-control(type="password" name="new-password" placeholder="New password")
        button.btn.btn-default(type="submit") Change password
